<head>
  <link rel="stylesheet" type="text/css" href="css/website.css" />
</head>
<body>
  <div class="center">
    <div class="cool-box">
      <h1>My amazing website</h1>
      <p>
      This is an amazing website. Witness how amazing it is.
      </p>
      <span style='font-size: 12px'>Written with ❤ by Carlos Nunez.</span>
      <p></p>
    </div>
  </div>
</body>
